# backups
*.log
*.old

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
npm-debug.log
testem.log

# System Files
.DS_Store
Thumbs.db